<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atooma.plugin.plugindquid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true" >
        <activity android:name="com.atooma.plugin.plugindquid.SpeechActivity" />

        <service
            android:name="com.atooma.AtoomaService"
            android:process=":remote" />

        <receiver android:name=".PLUGINDQUIDReceiver" >
            <intent-filter>
                <action android:name="com.atooma.plugin.REGISTRATION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".PLUGINDQUIDRegister"
            android:process=":remote" />
    </application>

</manifest>